.features__list {
  display: flex;
}

.feature {
  width: 270px;

  &::before {
    display: flex;
    content: '';
    height: 120px;
    margin-bottom: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $background-secondary-color;
  }

  &__icon {
    &-antenna::before {
      background-image: url(../images/icons/hw4/SVG/antenna.svg);
      background-size: 65.32px 70px;
    }

    &-clock::before {
      background-image: url(../images/icons/hw4/SVG/clock.svg);
      background-size: 66.96px 70px;
    }

    &-diagram::before {
      background-image: url(../images/icons/hw4/SVG/diagram.svg);
      background-size: 70px 70px;
    }

    &-astronaut::before {
      background-image: url(../images/icons/hw4/SVG/astronaut.svg);
      background-size: 70px;
    }
  }

  &:not(:first-child) {
    margin-left: 30px;
  }

  &__title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;

    margin-top: 0;
    margin-bottom: 0;
  }
}
