.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: $accent-color;

  &__text {
    color: $title-text-color;

    &--white {
      color: $primary-white-color;
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 26px;
      line-height: 1.2;
      text-decoration: none;
    }
  }
}
